@mixin flex-column($wrap: nowrap, $justify-content: center, $align-items: center) {
    display: flex;
    flex-flow: column $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin flex-row($wrap: wrap, $justify-content: space-between, $align-items: center) {
    display: flex;
    flex-flow: row $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}